.site-header.header-10 .top-section-wrap {
    padding: 15px 0 !important;
}
.site-header.header-10 .middle-section-wrap {
    background-color: transparent;
    z-index: 99999;
    position: relative;
    padding: 10px 0;
}
#nbelement-social-links-widget-3 .nbfw-social-link-widget {
    margin: 0;
}
#nbelement-social-links-widget-3 .nbfw-social-link-widget li {
    padding:0;
    margin: 0;
    border: none;
}
.header-10 .header-top-left-wrapper a {
    color: #9c9b9a;
    background: #9c9b9a;
    width: 22px;
    line-height: 22px;
}
.site-header.header-10 .middle-section-wrap .middle-right-content 
.header-search-wrap .search-form:before {
	color: #9c9b9a;
    font-size: 16px;
    top: 7px;
}
.site-header.header-10 .middle-section-wrap .middle-right-content .minicart-header .show-cart:before {
    content: '\a908';
    font-size: 22px;
    color: #9c9b9a;
}
.site-header.header-10 .middle-section-wrap .middle-right-content .minicart-header .counter-number {
    background: linear-gradient(90deg,#22cbe0,#b7ee5c);
}
/* =========menu========= */
.header-10 #mega-menu-wrap-primary #mega-menu-primary {
    text-align: right;
}
.site-header.header-10 #mega-menu-wrap-primary {
    background: transparent;
}
.site-header .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary 
#mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    font-weight: 600;
    font-family: Montserrat;
    color: #9c9b9a;
    text-transform: uppercase;
    padding-bottom: 32px;
    font-size: 15px;
}
/* ============== */



#banner-joe {
	margin-top: -60px;
}
#banner-joe img.ultb3-img {
    top: inherit;
    left: inherit;
    transform: none;
    width: 100% !important;
}
@media only screen and (max-width: 1499px) and (min-width: 1129px) {
	#banner-joe .ultb3-title{
		font-size: 80px;
	}
}
@media only screen and (max-width: 1128px) and (min-width: 950px), only screen and (max-width: 1499px) and (min-width: 1129px), only screen and (min-width: 1500px) {
	.home #splash .header-content .et_pb_fullwidth_header_subhead {
	    padding: 40px;
	}
}
#banner-joe .ultb3-desc {
	text-transform: uppercase;
    font-size: 24px;
    margin: 0 auto 30px;
}
#banner-joe .ultb3-box .ultb3-btn {
	font-family: Montserrat,sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 3px solid #22cbe0;
    cursor: pointer;
    border-image: linear-gradient(90deg,#22cbe0,#b7ee5c);
    border-image-slice: 1;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
}
#banner-joe .ultb3-box .ultb3-btn:hover {
	background-color: hsla(0,0%,100%,.2);
}
#product-tab .vc-tab-product-header{
	display: none;
}
#product-tab {
	margin-top: -50px !important;
}

/* common */
.heading-joe {
	padding-bottom: 45px;
}
.heading-joe h2.vc-cap{
	font-weight: 500 !important;
	display: inline-block;
    position: relative;
    line-height: 2;
    border: 0 solid transparent;
    border-bottom: 5px solid #22cbe0;
    border-image: linear-gradient(90deg,#22cbe0,#b7ee5c);
    border-image-slice: 1;

}
.heading-joe .vc-headline {
    padding-bottom: 35px;
}
.heading-joe .uvc-heading h2{
    font-size: 40px;
    font-family: Myriad Pro,sans-serif;
    color: #56565a;
    font-weight: 500 !important;
}
.heading-joe .wpb_text_column {
	text-align: center;
	padding-top: 10px;
	margin-bottom: 45px;
}
.heading-joe .wpb_text_column p{
	color: #56565a;
	font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    padding: 0 10px;
    font-family: Montserrat,sans-serif;
}
.button-joe .vc_general.vc_btn3-style-classic{
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    color: #fff;
    background: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 3px solid #22cbe0;
    cursor: pointer;
    border-image: linear-gradient(90deg,#22cbe0,#b7ee5c);
    border-image-slice: 1;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
}
.button-joe .vc_general.vc_btn3-style-classic:hover {
	background-color: hsla(0,0%,100%,.2);
	border: 3px solid #22cbe0;
    border-image: linear-gradient(90deg,#22cbe0,#b7ee5c);
    border-image-slice: 1;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    color: #fff;
}
.readmore-joe .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
    font-weight: 700;
    font-size: 16px;
    border-radius: 0;
    padding: 10px 15px;
	color: #fff;
	text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: linear-gradient(90deg,#f11a63 0,#fc5519);
}
.readmore-joe .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern:hover {
    zoom: 1;
    filter: alpha(opacity=70);
    -webkit-opacity: .7;
    -moz-opacity: .7;
    opacity: .7;
    color: #fff;
}


/* testimonial */
.testimonial-joe {
	padding-top: 120px;
	padding-bottom: 120px;
	text-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.testimonial-joe .swiper-slide {
	position: relative;
	padding: 100px;
}
.testimonial-joe .vc-printshop-testimonials {
	color: #fff;
	padding: 0;
}
.testimonial-joe .swiper-slide:before {
    border: 5px solid #0083cc;
    width: 440px;
    height: 600px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    content: ' ';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;

}
.testimonial-joe .vc_testimonial_wrap.testimonial_align_left .vc-testimonial-content, 
.testimonial-joe .vc_testimonial_wrap.testimonial_align_left .vc-avatar-testimonial {
	max-width: 350px;
	background-color: rgba(245,245,245,0.9);
    padding: 30px;
    margin: 0 auto;
}
.testimonial-joe .vc-testimonial-content {
	color: #0083cc;
    line-height: 1.8;
    font-size: 17px;
    font-weight: 700;
    margin:0 auto;
}
.testimonial-joe .vc-testimonial-content .description {
	font-size: 17px;
}
.testimonial-joe p {
	margin: 0;
}
.testimonial-joe .vc_testimonial_wrap 
.vc-avatar-testimonial .vc-avatar-img img{
	float: right;
    margin-right: 0;
    width: 77px;
    height: 77px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    border-radius: 0;
    transform: none;
    opacity: inherit;
    border: none;
    box-shadow: none;
}
.testimonial-joe .vc_testimonial_wrap.testimonial_align_left 
.vc-avatar-testimonial .vc-avatar-img {
	order: 2;
    margin: 0;
    padding: 0;
}
.testimonial-joe .client-data {
    order: 1;
    margin-right: 8px;
}
.testimonial-joe .vc-avatar-testimonial, .testimonial-joe .vc_testimonial_wrap.testimonial_align_left .vc-avatar-testimonial .client-position, 
.testimonial-joe .vc_testimonial_wrap.testimonial_cover_flow .vc-avatar-testimonial .client-position {
	color: #56565a;
    font-family: Abril Fatface,sans-serif;
    overflow: hidden;
    font-size: 18px;
}
.testimonial-joe .vc_testimonial_wrap.testimonial_align_left 
.vc-avatar-testimonial .client-name {
	color: #56565a;
    font-size: 18px;
    margin: 0;
}
.testimonial-joe .vc_testimonial_wrap .swiper-button-prev,
.testimonial-joe .vc_testimonial_wrap .swiper-button-next {
	opacity: 1;
    color: #fe5e01;
    font-weight: 700;
    background: none;
}
.testimonial-joe .vc_testimonial_wrap .swiper-button-next:before {
    font-size: 26px;
}
.testimonial-joe .vc_testimonial_wrap .swiper-button-prev:before {
    font-size: 26px;
}  
.testimonial-joe .vc_testimonial_wrap.testimonial_align_left .swiper-pagination-bullets, 
.testimonial-joe .vc_testimonial_wrap.testimonial_cover_flow .swiper-pagination-bullets {
	text-align: center;
}
.testimonial-joe .vc_testimonial_wrap .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
}
.testimonial-joe .swiper-pagination-bullet-active {
	background-color: #fff;
}
.choose-joe .uvc-sub-heading {
	display: block;
    text-align: center;
    color: #0083cc;
    font-family: Abril Fatface,sans-serif;
    font-size: 22px;
    padding: 10px 0 20px;
}
/* 
 */
.partner-joe {
	padding: 60px 0;
	background-size: cover;
}
.partner-joe .wpb_wrapper .wpb_wrapper {
	display: flex; 
    align-items: center;
}
.partner-joe .wpb_single_image.vc_align_left {
    padding: 0 15px;
}
/* footer */
footer.site-footer .footer-bot-section .widget h4.widget-title {
	border-bottom: none;
	color: #56565a;

	font-family: Abril Fatface,sans-serif;
}
.site-footer .footer-bot-section .widget h4.widget-title:after {
	display: none;
}
.site-footer .footer-bot-section .widget ul#menu-resources-and-guides li a:before {
	display: none;
}
.site-footer .footer-bot-section .widget ul#menu-resources-and-guides li {
	margin: 0;
}
.site-footer .footer-bot-section .widget ul#menu-resources-and-guides li a {
	color: #56565a;
    padding: 0;
    font-weight: 500;
}
.site-footer .footer-bot-section .widget ul#menu-resources-and-guides li a:hover {
	color: #22cbe0;
}
footer.site-footer .footer-top-section .footer_top_title, 
.site-footer .footer-bot-section .widget ul li a, 
footer.site-footer p {
    color: #56565a !important;
    font-weight: 500;
}
footer.site-footer .footer-bot-section .widget h4.widget-title {
    padding: 0;
	margin: 0;
}
.footer-abs-section {
	display: none;
}