/**
* Theme Name: Printcart Child
* Description: This is a child theme of Printcart.
* Author: <a href="http://cmsmart.net">netbaseteam</a>
* Template: printcart
* Version: 1.0.0
*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,700;0,900;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body{

    font-family: Montserrat,sans-serif!import;
}
.single-product h1, h2, h3, h4, h5, h6{
    color: #333!important;
    padding-bottom: 10px!important;
    line-height: 1em!important;
    font-weight: 500!important;
}
.single-product .banner{
	
    min-height: 400px;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    text-align: left;
    
}

.single-product #banner-wrapper {
	background-position: 50%;
    padding: 0;
    background-size: cover;
	background-image: linear-gradient(to right, #22cbe0, #b7ee5c)
}
.single-product .nb-page-title-wrap{
    display: none!important;
}
.single-product .single-product-wrap .woocommerce-product-details__short-description {
    float: left;
    padding: 70px 5.5% 70px 0;
}
.single-product .single-product-wrap .woocommerce-product-details__short-description {
    line-height: 1.7em;
    font-weight: 500!important;
    font-size: 17px!important;
    color: #56565A;
    font-family: 'Montserrat', sans-serif;
}
.single-product .single-product-wrap .woocommerce-product-details__short-description p{
    line-height: 1.7em;
    font-size: 17px!important;
    color: #56565A;
    font-family: 'Montserrat', sans-serif;
}
.single-product .container-fuild{
    background-color: #ececec;
    clear: both;
}
.single-product .container-fuild .row{
    width: 90%;
    max-width: 1500px!important;
}
@media (min-width: 576px){
    .shop-main:not(.wide) .single-product-wrap .entry-summary{
        display: contents;
    }
}
.single-product .container .row{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}
.single-product .single-product-wrap .woocommerce-product-details__short-description ul{
    margin: 1em 0 1em 5em;
}
.single-product .single-product-wrap .woocommerce-product-details__short-description ul li{
    margin-bottom: 20px;
}
.single-product .single-product-wrap .woocommerce-product-details__short-description ul li i{
    color: #66dba4;
}
.single-product .fa-li{
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.111112em;
    text-align: center;
}

.single-product .sidebar-wrapper{
    margin: -60px 0 50px;
    background-color: #fff!important;
    padding: 22px 30px 30px!important;
    border: 0 solid transparent;
    border-top: 8px solid #f11a63;
    border-image: linear-gradient(90deg,#f11a63 0,#fc5519);
    border-image-slice: 1;
    -webkit-filter: drop-shadow(0 0 4px #bbb);
    -moz-filter: drop-shadow(0 0 4px #bbb);
    -ms-filter: drop-shadow(0 0 4px #bbb);
    filter: drop-shadow(0 0 4px #bbb);
}
@media (min-width: 981px){
.single-product .sidebar-wrapper {
    float: left;
    
}
}
.single-product .sidebar-wrapper h4{
    /*font-family: Abril Fatface,sans-serif;*/
    font-family: 'Abril Fatface', sans-serif;
    font-size: 39px;
    margin-bottom: 15px;

}
.single-product .sidebar-wrapper .gf_browser_chrome{
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 500;
}
.single-product .sidebar-wrapper label{
    display: none!important;
}
@media (min-width: 992px){
.single-product #secondary {
    padding-left: 0px!important;
}
}
.gform_wrapper form{
    overflow: hidden;
}

.single-product .sidebar-wrapper .gform_button{
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    border: 3px solid transparent;
    border: none;
    float: right;
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: linear-gradient(90deg,#f11a63 0,#fc5519);
}
.page-template-default .content-area #main{
    max-width: 900px;
    margin: 0 auto;
}
.page-cover-header{
    background-image: linear-gradient(90deg,#22cbe0d4 0,#daff9ca6);
}
.single-product .banner-wrapper{
    background-position: 50%;
    padding: 0;
    background-size: cover;
    min-height: 400px; 
   /* background-image: linear-gradient(90deg,#22cbe0d4 0,#daff9ca6);*/

    
}
.single-product .banner-wrapper .banner-img{
   
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    text-align: left;
}
.single-product .featured-gallery {
    display: none;
}
.banner-wrapper .woocommerce-product-gallery__image img{
    width: 145px!important;
    height: 80px;
    -webkit-filter: drop-shadow(5px 5px 3px hsla(0,0%,9%,.6));
    -moz-filter: drop-shadow(5px 5px 3px hsla(0,0%,9%,.6));
    -ms-filter: drop-shadow(5px 5px 3px hsla(0,0%,9%,.6));
    filter: drop-shadow(8px 1px 5px rgba(22,22,22,.6));
}
.banner-wrapper .banner-img .woocommerce-product-gallery{
       max-width: 467px;

}
.single-product h1.product_title {
        margin-bottom: 18px!important;
    font-family: Abril Fatface,sans-serif;
    color: #fff;
    font-weight: 400!important;
    font-size: 40px;
    -webkit-filter: drop-shadow(2px 2px 2px #666);
    -moz-filter: drop-shadow(2px 2px 2px #666);
    -ms-filter: drop-shadow(2px 2px 2px #666);
    filter: drop-shadow(2px 2px 2px #666);
}
.single-product .banner-content{
    padding-top: 80px;
}
.single-product .banner-wrapper .image-single-product{
    margin-top: 90px;
}
.single-product .banner-wrapper .thumbs-view-more{
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 3px;
    -webkit-filter: drop-shadow(0 0 0 transparent);
    -moz-filter: drop-shadow(0 0 0 transparent);
    -ms-filter: drop-shadow(0 0 0 transparent);
    filter: drop-shadow(0 0 0 transparent);
}
.single-product .product-tagline{
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    -webkit-filter: drop-shadow(2px 2px 2px #666);
    -moz-filter: drop-shadow(2px 2px 2px #666);
    -ms-filter: drop-shadow(2px 2px 2px #666);
    filter: drop-shadow(2px 2px 2px #666);
}

.single-product .product-quick-look-wrapper .product-quick-look .product-quote{
    margin: -60px 0 50px;
    background-color: #fff;
    padding: 22px 30px 30px;
    border: 0 solid transparent;
    border-top: 8px solid #f11a63;
    border-image: linear-gradient(90deg,#f11a63 0,#fc5519);
    border-image-slice: 1;
    -webkit-filter: drop-shadow(0 0 4px #bbb);
    -moz-filter: drop-shadow(0 0 4px #bbb);
    -ms-filter: drop-shadow(0 0 4px #bbb);
    filter: drop-shadow(0 0 4px #bbb);
}
@media (min-width: 981px){
.product-quick-look .product-quote{
    float: left;
    width: 30%;
}
.single-product .product-quick-look-wrapper .product-quick-look .product-short-description{
    float: left;
    padding: 70px 5.5% 70px 0;
}
@media (min-width: 981px){
.product-quick-look .product-short-description{
    float: left;
    width: 70%;
}
}
.single-product .product-quick-look-wrapper .product-quick-look .product-quote h4{
        font-family: Abril Fatface,sans-serif;
    font-size: 39px;
    margin-bottom: 15px;
}
.single-product .product-quick-look-wrapper .product-quick-look .product-quote label{
    display: none;
}
.single-product .product-quick-look-wrapper .product-quick-look .product-quote .name_first label{
    display: none;
}
.single-product .product-quick-look-wrapper .product-quick-look{
        width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}
.single-product .product-quick-look-wrapper .product-quick-look .tab-nav{
    font-weight: 500;
    font-family: Montserrat,sans-serif;
    clear: both;
    display: block;
    border-top: 2px solid #56565a;
    padding: 0 5.5% 0 0;
}
@media (min-width: 981px){
    .product-quick-look .product-short-description, .product-quick-look .tab-nav{
    width: 70%;
    }
}
.single-product .product-quick-look-wrapper .product-quick-look .product-quote .gform_body{
        font-family: Montserrat,sans-serif;
        font-weight: bolder;
}
.gform_wrapper .gform_footer{
    padding: 16px 0 10px;
    margin: 16px 0 0;
    clear: both;
    width: 100%;
}
.single-product .product-quick-look-wrapper .product-quick-look .product-quote .gform_button{
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    border: 3px solid transparent;
    border: none;
    float: right;
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: linear-gradient(90deg,#f11a63 0,#fc5519);
}
.single-product .product-quick-look-wrapper .product-quick-look .tab-nav li {
    display: inline-block;
    text-transform: uppercase;
}
.single-product .product-quick-look-wrapper .product-quick-look .tab-nav li a{
    color: #56565a;
    padding: 20px 30px 20px 0;
    margin-right: 10px;
    display: inline-block;
}
body:not(.et-tb) #main-content .container, body:not(.et-tb-has-header) #main-content .container{
    padding-top: 58px;
}
.single-product #main-content{
    background-color: #ececec;
    clear: both;
}
.single-product .container{
    max-width: 1500px!important;
    width: 90%
}
.single-product #left-area{
    float: left;
    padding-right: 5.5%;
    padding-bottom: 35px;
}
.single-product .woocommerce-description-reviews{
    margin-bottom: 0!important;
    padding-top: 0;
    background-color: #fff;
    padding: 30px;
}
.single-product .entry-content{
    max-width: 100%;
}
.single-product #reviews{
    margin-top: 0px!important;
}
.single-product #reviews{
    border-top: 1px solid #ececec;
    clear: both;
    padding-top: 30px;
}
.single-product #reviews #comments{
        font-family: Nunito Sans,sans-serif;
    font-size: 16px;
}
.single-product #reviews #comments ol.commentlist li .comment_container img{
    display: none;
}
.shop-main .woocommerce-Reviews .woocommerce-Reviews-title{
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
    font-size: 26px!important;
}
.single-product .woocommerce #reviews #comments ol.commentlist li, .woocommerce-page #reviews #comments ol.commentlist li{
        margin-bottom: 40px!important;
}
.woocommerce #reviews .commentlist .star-rating{
        float: none!important;
    margin-bottom: 6px!important;
}
.woocommerce-page .star-rating span:before, .woocommerce .star-rating span:before{
    color: #fe5e01!important;
}
strong{
    font-weight: 700!important;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta{
    font-size: inherit!important;
    margin: 0 0 2px!important;
    padding: 0!important;
}
.single-product #reviews #comments ol.commentlist li .comment-text .meta time{
    font-size: 14px;
    margin-left: 10px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p{
        margin: 0 0 1em;
}
.single-product #reviews #respond{
    -webkit-filter: drop-shadow(0 0 0 transparent);
    -moz-filter: drop-shadow(0 0 0 transparent);
    -ms-filter: drop-shadow(0 0 0 transparent);
    filter: drop-shadow(0 0 0 transparent);
}
.shop-main .woocommerce-Reviews #review_form_wrapper .comment-respond{
    padding: 0!important;
    border: 0!important;
}
.single-product .entry-content a{
    color: #fe5e01!important;
}