/**
* Theme Name: Printcart Child
* Description: This is a child theme of Printcart.
* Author: <a href="http://cmsmart.net">netbaseteam</a>
* Template: printcart
* Version: 1.0.0
*/



.single-product .banner{
	
    min-height: 400px;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    text-align: left;
    
}

.single-product #banner-wrapper {
	background-position: 50%;
    padding: 0;
    background-size: cover;
	background-image: linear-gradient(to right, #22cbe0, #b7ee5c)
}
.single-product .nb-page-title-wrap{
    display: none!important;
}
.single-product .single-product-wrap .woocommerce-product-details__short-description {
    float: left;
    padding: 70px 5.5% 70px 0;
}
.single-product .single-product-wrap .woocommerce-product-details__short-description {
    line-height: 1.7em;
    font-weight: 500!important;
    font-size: 17px!important;
    color: #56565A;
    font-family: 'Montserrat', sans-serif;
}
.single-product .single-product-wrap .woocommerce-product-details__short-description p{
    line-height: 1.7em;
    font-size: 17px!important;
    color: #56565A;
    font-family: 'Montserrat', sans-serif;
}
.single-product .container-fuild{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}
@media (min-width: 576px){
    .shop-main:not(.wide) .single-product-wrap .entry-summary{
        display: contents;
    }
}
.single-product .container .row{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}
.single-product .single-product-wrap .woocommerce-product-details__short-description ul{
    margin: 1em 0 1em 5em;
}
.single-product .single-product-wrap .woocommerce-product-details__short-description ul li{
    margin-bottom: 20px;
}
.single-product .single-product-wrap .woocommerce-product-details__short-description ul li i{
    color: #66dba4;
}
.single-product .fa-li{
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.111112em;
    text-align: center;
}